.center-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  min-width: 400px;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;

  background-color: color-mix(
    in srgb,
    var(--color-primary) 70%,
    var(--color-secondary2) 30%
  );
  border: 1px solid var(--color-primary);
  border-radius: 0.2rem;
}

h3 {
  color: var(--color-primary);
  font-size: 3rem;
}

select {
  min-width: 300px;
  border-radius: 0.2rem;
  font-size: 1rem;

  height: 40px;
  padding: 0 1rem;

  cursor: pointer;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-secondary2);
}

select:focus,
select:focus-visible {
  border: 2px solid var(--color-primary2);
}

button {
  border-radius: 0.2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  background-color: var(--color-secondary2);
  cursor: pointer;
  transition: border-color 0.3s;
}

button:hover {
  border-color: var(--color-secondary2);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
