:root {
  --color-primary: #092635;
  --color-primary2: #1b4242;
  --color-secondary: #5c8374;
  --color-secondary2: #9ec8b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-secondary);
}

.center-flex {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center-flex-col {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
